@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$primary-color: #1565c0;
$secondary-color: #ffa726;
$text-color: #ffffff;

.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.experience {
  opacity: 0;
  transform: translateY(50px);
  animation: slide-up 0.5s forwards;
  color: $text-color;
  padding: 20px;
  border-radius: 10px;
}

.card {
  border: 1px solid $secondary-color;
  background-color: rgba(255, 255, 255, 0.85);
  color: #333;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px 30px;
  margin: 20px 0;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
}

.activeCard {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.skills {
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: darken($secondary-color, 10%);
    color: $text-color;
    transform: scale(1.05);
  }
}

.keyWordLeft {
  font-family: "Playfair Display", serif;
  animation: moveLeft 1s ease-in-out;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.keyWordRight {
  font-family: "Playfair Display", serif;
  animation: moveRight 1s ease-in-out;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .experience {
    padding: 30px 20px;
  }

  .card {
    padding: 15px 20px;
  }

  .keyWordLeft,
  .keyWordRight {
    display: none;
  }
}
