.experience {
  opacity: 0;
  transform: translateY(50px);
  animation: slide-up 0.5s forwards;
  background: #444444ba;
  padding: 20px;
  border-radius: 10px;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  border: 1px solid #ec9a29;
  border-radius: 10px;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #ec9a29;
    color: white;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.skills {
  background-color: #ec9a29;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  margin: 5px;

  &:hover {
    background-color: #4d320e;
    color: white;
  }
}
