@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --color-primary: #3e66a0;
  --cover-placeholder: var(--color-primary);
}

.accordion {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  height: 100vh;
}

.accordionItem {
  --cover: var(--cover-placeholder);
  background: var(--cover);
  background-position: center center;
  background-size: cover;
  background-color: var(--cover-placeholder);
  background-blend-mode: linear-gradient(
    180deg,
    rgba(15, 15, 15, 0) 0%,
    #111111 100%
  );
  position: relative;
  flex-grow: 1;
  height: 100%;
  width: 100px;
  min-width: 2.05rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &:hover,
  &:focus-within,
  &.active {
    flex-grow: 2;
    width: 50%;
    background-color: transparent;

    .accordionTitle {
      &--hover-hide {
        max-height: 0;
        opacity: 0;
      }
      &--hover-show {
        opacity: 1;
      }
    }
    .accordionDescription {
      opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.accordionAction {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.75);
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #111111 100%);
  text-decoration: none;
}

.accordionTitle {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.5rem;
  padding: 1rem 0rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &--hover-show {
    opacity: 0;
    width: 100%;
  }

  &--hero {
    font-size: 4rem;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.accordionAside {
  padding: 1rem;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: rotate(90deg) translate(-50%, -50%);
  transform-origin: right bottom;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  h2 {
    color: white;
    font-family: "Roboto Condensed";
    margin: 0;
    font-size: 1.5rem; /* 調整文字大小 */
  }

  &:before {
    content: "+";
    color: #fff;
    margin-right: 0.5rem; /* 調整加號的位置 */
    font-size: 2rem;
    display: inline-block;
  }
}

.accordionContent {
  padding: 2rem;
  width: 100%;
  height: auto; // 改為自動高度
  min-height: 40%; // 設置最小高度
  text-align: left;
  line-height: 1.5;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.accordionDescription {
  color: white;
  font-weight: 500;
  line-height: 120%;
  overflow-wrap: break-word; // 允許長單詞換行
  word-break: break-word; // 在適當的地方斷行
  max-height: none; // 移除最大高度限制
  opacity: 1; // 確保始終可見
}
.accordionLine {
  width: 70%;
  height: 1px;
  background-color: #ffffffc7;
  margin: 1rem 0;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
  align-items: center;
}

.accordionSkill {
  width: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #666;
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
  }
}
