.landingPage::before {
  background: linear-gradient(to bottom, #000033, #000066);
  opacity: 0.9;
}

.keyword {
  font-family: "Press Start 2P", cursive;
  animation: moveToMouth 5s linear infinite, fadeInOut 5s linear infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}
.landingPage::before {
  content: "";
  background: url(/public/image/pac-man.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.pacman-container {
  position: relative;
  width: 50%;
  height: 500px;
  margin: 50px auto;
  overflow: hidden;
}

.pacman {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40%;
  left: 50px;
  fill: none;
  stroke: #f4d146;
  stroke-width: 50px;
  stroke-linecap: butt;
  stroke-dasharray: 157;
  animation: mouth 0.7s ease-in-out infinite;
}

.eye {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 42%;
  left: 104px;
  fill: #000033;
  animation: eye 0.7s ease-in-out infinite;
}

.keywords-container {
  position: absolute;
  top: 50%;
  left: 120px;
  right: 0;
  transform: translateY(-50%);
  overflow: hidden;
  height: 2rem;
  padding: 10px;
}

.keyword {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #f4d146;
  border-radius: 10px;
  padding: 5px;
  white-space: nowrap;
  animation: moveToMouth 5s linear infinite;
  opacity: 0;
}

@keyframes moveToMouth {
  0% {
    left: 100%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    left: 0;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes mouth {
  0%,
  100% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
  50% {
    stroke-dashoffset: 39;
    transform: rotate(45deg);
  }
}

@keyframes eye {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-6px, -3px);
  }
}
